

.onePostDiv {
    width: 100%;
    background-color: #ffff;
    padding-bottom: 10px;
    margin-top: 54px;
}

.onePostDiv:hover {
    opacity: 0.7;
    cursor: pointer;
}

.onePostDiv p {
    padding: 10px 25px;
 
}

.data {
    border-left: 6px solid #FFA500;
    font-weight: 600; 
    margin-top: 20px;  
}

.onePostDiv h3 {
    font-size: 32px;
    padding: 10px 25px;
}

.onePostDiv div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 25px 20px 25px;
}

