.destinationTitleDiv {
    display: flex;
    align-items: center;
    padding: 58px 0;
    gap: 186px;
    background-color: #ffff;
}

.destinationTitle {
    background-image: url(../../../public//Assest/Icons/BriefHistoryBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60%;
    padding: 20px 16px;

}

.destinationTitle h3 {
    font-size: 64px;
}

.destinationTitle a {
    color: #FFA500;
}

.destinationTitle p {
    font-size: 18px;
}

.allContinent {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 140px 70px;
}

.continentDiv {
    border: 2px solid gray;
    padding: 30px ;
    text-align: center;
    cursor: pointer;
}

.continentDiv:hover{
    background-color: gray;
}

.continentDiv p {
    font-weight: 600;
    font-size: 24px;
}

.checkedContinent {
    background-color: blue;
    color: #fff;
}

.continetPosts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 0 70px 128px;
}

.destinationPostDiv {
    position: relative;
    top: 0;
    left: 0;
    height: 563px;
    margin: 0 70px ;
}


.destinationPostDiv:hover {
    opacity: 0.7;
    cursor: pointer;
}

.postDivDescription {
    width: 360px;
    position: absolute;
    top: 267px;
    left: 0;
    background-color: #fff;
}

.postDivDescription p {
    margin-top: 41px;
    padding: 6px 31px;
    font-size: 18px;
    font-weight: 600;
    border-left: 6px solid #FFA500;
    color: #FFA500;
}

.postDivDescription h3 {
    margin-top: 25px;
    margin: 0 31px;
    padding: 10px 0 52px 0;
    font-size: 24px;
    border-bottom: 1px solid gray;
}

.postDivDescription div {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    gap: 5px;
}